h1 {
    text-align: center;
    color: blueviolet;
}
h2 {
    background-color: aquamarine;
    margin-right: 145px;
    padding: 20px 2px 20px 2px;
    border-style: dotted;
    width: 370px;
}
h3 {
    text-align: center;
    text-decoration: underline;
}
.subhead {
    text-align: center;
    color: cadetblue;
    font-weight: bold;
    text-decoration: underline;
}
.parentSection {
    display: flex;
}
.subsections {
    background-size: 300 px;
    background-color: lightsalmon;
    margin-inline: 20px;
    margin-bottom: auto;
    padding-right: 30px;
    padding-left: 20px;
}
img {
    padding: 0px 20px
}
